<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1> <%= t 'contact_us' %>:</h1>
      
      <table class="table">
       <tr>
         <td><%= t 'name_in_email' %>:</td>
         <td><%= @params[:first_name]%></td>
       </tr>
       <tr>
         <td><%= t 'email_id'%>:</td>
         <td><%= @params[:email]%></td>
       </tr>
       <tr>
         <td><%= t 'message_in_mail'%>:</td>
         <td><%= @params[:message]%></td>
       </tr>
     </table>
      
   </body>
</html>